@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-text-primary: hsl(0, 0%, 100%);
  --color-text-secondary: hsl(0, 0%, 60%);
  --color-accent: hsl(210, 100%, 52%);
  --color-accent-hover: hsl(210, 100%, 40%);
  --color-bg-main: hsl(0, 0%, 5%);
  --color-bg-primary: hsl(0, 0%, 10%);
  --color-bg-secondary: hsla(0, 0%, 100%, 0.15);
  --color-bg-menu: hsla(0, 0%, 10%, 0.75%);
  --color-opacity: hsla(0, 0%, 0%, 0);

  --font-hero: normal 400 48px/133% 'Montserrat', sans-serif;
  --font-xl: normal 600 20px/133% 'Montserrat', sans-serif;
  --font-lg: normal 600 16px/133% 'Montserrat', sans-serif;
  --font-base-sb: normal 500 16px/150% 'Montserrat', sans-serif;
  --font-base: normal 400 16px/150% 'Montserrat', sans-serif;
  --font-sm-md: normal 500 14px/150% 'Montserrat', sans-serif;
  --font-sm: normal 400 14px/150% 'Montserrat', sans-serif;
  --font-xs: normal 500 12px/150% 'Montserrat', sans-serif;

  --size-width: 1728px;
  --size-height: 972px;
}


#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--size-width);
  height: var(--size-height);
  gap: 24px;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1192px;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--color-bg-menu);
  backdrop-filter: brightness(0.5) blur(1.5rem);
  position: fixed;
  bottom: 24px;
  transition: bottom 0.5s;
  z-index: 10;

  h3 {
    text-transform: none;
    letter-spacing: 0;
  }

  p {
    color: var(--color-text-secondary);
    font: var(--font-sm);
  }

  a {
    font: var(--font-sm);
  }
}

#cast {
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0),
      hsl(0, 0%, 10%)), url("../images/char-HariSeldon.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--size-width);
  padding: 48px 48px 144px;
  font: var(--font-sm);

  p {
    color: var(--color-text-secondary);
  }

  span {
    color: inherit;
    font-weight: 500;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  width: var(--size-width);
  height: 64px;
  padding: 0 48px;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 56px;
  top: -56px;
  padding: 16px 144px;
  background-color: var(--color-bg-menu);
  backdrop-filter: brightness(0.5) blur(1.5rem);
  position: fixed;
  transition: top 0.5s;
  z-index: 10;
}

#overview {
  flex-direction: column;
  row-gap: 676px;
  border-radius: 8px;
}

#overview__video-wrapper {
  position: absolute;
  width: var(--size-width);
  height: 864px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px 8px 0 0;
  z-index: 1;

  video {
    width: var(--size-width);
    object-fit: cover;
  }
}

#season {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 8px;
  background: radial-gradient(600px at right bottom, hsla(0, 0%, 100%, 0.15),
      hsl(0, 0%, 10%));
}

#season__info--buttons {
  display: flex;
  gap: 16px;
}


[class*="button__"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  font: var(--font-sm);
  cursor: pointer;
}

[class*="cast__char"] {
  width: 128px;
  height: 684px;
  object-fit: cover;
  object-position: 45%;
  border-radius: 4px;
}

[class*="cast__info-char"] {
  display: flex;
}

[class*="input"] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--color-bg-secondary);
}

[class*="--lg"] {
  height: 48px;
  padding: 0 24px;
  border-radius: 24px;
  gap: 16px;
}

[class*="primary-"] {
  background-color: var(--color-accent);
  font-weight: 600 !important;
}

[class*="primary-"]:hover {
  background-color: var(--color-accent-hover);
}

[class*="secondary-"] {
  background-color: var(--color-bg-secondary);
}

[class*="secondary-"]:hover,
[class*="secondary-"]:hover svg path {
  color: var(--color-accent);
  fill: currentColor;
}

[class*="--sm"] {
  height: 32px;
  padding: 0 16px;
  border-radius: 16px;
  gap: 8px;
}

[class*="--trans"]:focus-within {
  box-shadow: inset 0 0 0 2px var(--color-accent);
}


.active {
  color: var(--color-text-secondary);
}

.banner__button {
  display: flex;
  align-items: center;
  gap: 16px;

  p {
    text-align: right;
    font: var(--font-xs) !important;
  }
}

.cast__info {
  display: grid;
  justify-content: center;
  align-items: center;
  width: var(--size-width);
  grid-template-columns: 1fr 864px 1fr;
  padding: 48px 0 96px;
}

.cast__char-l:nth-child(2) {
  margin: 24px 0 0 24px;
}

.cast__char-l:nth-child(3) {
  margin: 48px 0 0 24px;
}

.cast__char-r:nth-child(1) {
  margin: 48px 24px 0 0;
}

.cast__char-r:nth-child(2) {
  margin: 24px 24px 0 0;
}

.cast__info-char--desc {
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  gap: 24px;

  img {
    width: 96px;
    height: 96px;
  }

  div {
    text-align: center;
  }

  p {
    color: var(--color-text-secondary);
  }
}

.date {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    font: var(--font-base-sb);
    color: var(--color-text-secondary);
  }
}

.indicator {
  font: var(--font-xl);
  color: var(--color-accent);
}

.header__option {
  display: inline-flex;
  gap: 8px;
}

.list__item--wide {
  width: 100% !important;
}

.logo-s {
  width: 213px;
  height: 20px;
}

.logo-cs {
  display: flex;
  gap: 4px;

  img {
    width: auto;
    height: 20px;
  }

  &::after {
    content: "13+";
    font: var(--font-sm-md);
    color: var(--color-text-primary);
  }
}

.meta__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  img {
    opacity: 0.6;
  }
}

.nav__link {
  font: var(--font-sm);
  text-decoration: none;
}

.nav__list {
  display: inline-flex;
  gap: 24px;
}

.nav__list a:hover {
  color: var(--color-accent);
}

.overview__logo {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 48px;
}

.overview__info {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding: 0 48px 48px;
  gap: 48px;
  z-index: 3;
}

.overview__info--buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  gap: 16px;
}

.overview__info--buttons--opt {
  display: inline-flex;
  gap: 16px;
}

.overview__info--details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.overview__info--details p {
  width: 820px;
  font: var(--font-base);
}

.overview__info--details--genre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  gap: 24px;
}

.overview__info--details--genre span {
  font: var(--font-sm-md);
  color: var(--color-text-secondary);
}

.overview__gradient::after {
  z-index: 2;
  content: '';
  position: absolute;
  top: 72px;
  width: var(--size-width);
  height: 864px;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 10%));
}

.overview__info--details--cast {
  display: inline-flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
  gap: 24px;
}

.overview__info--details--cast--avatar {
  display: flex;

  .avatar img {
    border-radius: 50%;
  }

  .avatar:hover img {
    box-shadow: 0 0 0 2px var(--color-accent);
  }

  .avatar:nth-child(1) {
    z-index: 4;
  }

  .avatar:nth-child(2) {
    margin-left: -16px;
    z-index: 3;
  }

  .avatar:nth-child(3) {
    margin-left: -16px;
    z-index: 2;
  }

  .avatar:nth-child(4) {
    margin-left: -16px;
    z-index: 1;
  }

  .avatar:nth-child(5) {
    margin-left: -16px;
    z-index: 0;
  }
}

.season__gradient {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--size-height);
    background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0), hsl(0, 0%, 10%));
  }
}

.season__img {
  width: calc(var(--size-width) / 2);
  height: var(--size-height);
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}

.season__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 0 0 96px;
  gap: 64px;
}

.season__info-title {
  display: inline-flex;
  gap: 24px;
}

.season__info-title-item--sel {
  text-align: center;
}

.season__info-title-item h2 {
  color: var(--color-text-secondary);
}

.season__info-img--slider {
  display: flex;
  width: 768px;
  overflow: hidden;
  gap: 24px;
}

.season__info-img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 268px;
    border-radius: 8px;
  }

  video {
    border-radius: 8px;
  }
}

.season__info-episode {
  display: flex;
  gap: 48px;
}

.season__info-slider-nav {
  display: flex;
  gap: 24px;
  margin-left: 72px;

  #button__prev,
  #button__next {
    border-style: none;
    background-color: var(--color-opacity);
    cursor: pointer;

    &:hover {
      svg path {
        fill: var(--color-accent);
      }
    }
  }
}

.season__info--desc {
  display: flex;
  flex-direction: column;
  gap: 32px;

  p {
    color: var(--color-text-secondary);
  }
}

.section {
  display: flex;
  max-width: var(--size-width);
  height: var(--size-height);
  background-color: var(--color-bg-primary);
  margin-bottom: 24px;
  border-radius: 8px;
}

.separator {
  padding: 0 8px;
  font: var(--font-base);
  color: var(--color-text-secondary);
}

.sub-section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  padding: 144px;
  gap: 48px;


  ul {
    margin: 0 0 0 -16px;
    padding: 0;
    list-style-type: none;
  }

  li {
    float: left;
    width: 50%;
    padding: 0 0 48px 16px;

    p {
      color: var(--color-text-secondary);
    }
  }
}

.sub-section__title {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h3 {
    color: var(--color-text-secondary);
  }
}

.sub-section__cs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 72px;
}

.time {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    font: var(--font-base-sb);
    color: var(--color-text-secondary);
  }
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-main);
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font: var(--font-hero);
}

h2 {
  font: var(--font-xl);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font: var(--font-lg);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font: var(--font-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  width: 96px;
  height: 32px;
  border-style: none;
  outline: none;
  background-color: var(--color-opacity);
  transition: width 0.3s ease-in-out;
}

input:focus {
  width: 192px;
}

p a {
  color: var(--color-accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline !important;
  }
}

svg {
  display: inline !important;
}

ul {
  list-style: none;
}